{% include 'header.html'%}
{% load staticfiles %}
{%load crispy_forms_tags%}

<div class="container">
	<div class="row">
		<div class="col-md-12 col-md-offset-3" style="padding: 50px;">
			<h1><i>Steps to make a Video Call</i></h1>
			<h2>Let us assume Peer P1 wants to call Peer P2</h2><h5>(Does not support Safari Browsers,So use Mozilla Firefox Browser)</h5>
			<h3>Peer P1</h3>
			<h4><li>Register and login to your account.</li></h4>
			<h4><li>Select the user from the list whom you want to call and click the call button.</li></h4>
			<h4><li>Now click the "Click to Start Video Chat" button.</li></h4>
			<h3>Peer P2</h3>
			<h4><li>The selected user should login to his account and open his HomeRoom.</li></h4>
			<h4><li>Now click the "Click to Start Video Chat" button.</li></h4>
			<h3>Maximum of 3 users can join the ChatRoom.</h3>
			<h4><li>Third peer should also call the selcted user and click the </li></h4>
			<h4>  "Click to Start Video Chat" button to join Peer P1 and P2.</h4>
		</div>
	</div>
</div>


{% include 'footer.html' %}
